body {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  background-color: lightgray;
  width: 100vw;
  height: 100vh;
}

#board {
  position: relative;
  margin: 0 auto;
  background-color: #000;
  border-radius: 30px;
  height: 500px;
  width: 700px;
  overflow: hidden;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  background-image: url('./grass_sprite.png');
  border: 4px solid #48bf91;
}

#paddles {
  height: 120px;
  width: 20px;
  position: absolute;
  left: 5px;
  top: 180px;
}

.right {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 3px 6px #cc0000;
  background-color: #ff0000;
}

.left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: -3px -6px #b3a125;
  background-color: #ffde00;
  margin-left: 670px;
}

@keyframes ballAnim {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
#ball {
  /* animation: 10s linear infinite backAndForth; */
  position: absolute;
  top: 240px;
  left: 335px;
  animation: ballAnim 0.7s linear infinite;
  z-index: 10;
  height: 35px;
  width: 35px;
  border-radius: 25px;
  text-align: center;
  background-color: ghostwhite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://e7.pngegg.com/pngimages/993/363/png-clipart-pokeball-pokeball.png');
}

#center {
  border: 3px dotted #5ca904;
  color: #fff;
  background-color: #2d5a27;
  height: 500px;
  position: absolute;
  left: 50%;
}

h2 {
  font: bold 24px Sans-Serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #369;
  color: #fff;
  padding: 5px 10px;
  margin: 250px 0 10px 0;
  line-height: 24px;
  border-radius: 15px;
  /* transform-origin: 0 0; */
  transform: rotate(90deg);
  width: 135px;
  text-align: center;
}

h1 {
  font: bold 24px Sans-Serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #369;
  color: #fff;
  padding: 30px 20px;
  margin: 250px 0 10px 0;
  line-height: 40px;
  border-radius: 15px;
  /* transform-origin: 0 0; */

  width: 135px;
  text-align: center;
}

aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#btmBorderImg {
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  height: auto;
  width: 300px;
  z-index: 100;
}
#btmBorder {
  margin-top: 20px;
  background-color: white;
  left: 0;
  bottom: 0;
  position: fixed;
  height: 170px;
  width: 100vw;
  background-image: url('./btmbrder.png');
  border-image-repeat: stretch repeat;
  border-image-slice: 40 fill;
}

span {
  color: #b3a125;
  font-weight: bold;
  font-size: 44px;
  margin-top: 20px;
}
